   body{
        margin: 0;
		padding: 0;
		text-align: center;
		background-size: cover;
		background-position: center;
		font-family: sans-serif;
		}
	.contact-title{
                   margin-top: 100px;
                   color: rgb(15, 11, 11);
                   text-transform: uppercase;				   
                   transition: all 4s ease-in-out;
                  }
    .contact-title h1{
                       font-size: 32px;
                       line-height: 10px;
                      }
					  
    .contact-title h2{
                      font-size:" 16px";
					 }
    form{
	      margin-top: 50px;
		  transition: all 4s ease-in-out;
		  }
	.form-control{
                  width: 600px;
                  background: transparent;
                  border: none;
                  outline: none;
                  border-bottom: 1px solid gray;
                  color: rgb(172, 26, 26);
                  font-size: 18px;
                  margin-bottom: 16px;
                 }				  
    input{
	      height: 45px;
		 }
 
    form .submit{
                background:#ff5722;
                border-color: transparent;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
                margin-top: 20px;
               }				
    
	form .submit:hover{
	                  background-color:#f44336;
					  cursor: pointer;
					 }
    